<div data-testid="error-404">
  <.header class="text-center">
    404
    <:subtitle>Not Found</:subtitle>
  </.header>
  <div class="text-center mt-6">
    <.link href="/" class="text-brand hover:underline">Go to home page</.link>
  </div>
</div>
