<div data-testid="error-500">
  <.header class="text-center">
    500
    <:subtitle>Internal Server Error</:subtitle>
  </.header>
  <div class="text-center mt-6">
    <.link href="/" class="text-brand hover:underline">Go to home page</.link>
  </div>
</div>
